<a href="https://colab.research.google.com/github/shanvari/Binario-Puzzle/blob/main/iot.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split

# read csv file
df = pd.read_csv('Load_history.csv')

# drop rows with NaN values
df.dropna(inplace=True)

# replace commas with empty strings and convert to integer
for i in range(1,25):
    var = 'h' + str(i)
    df[var] = df[var].str.replace(',', '').astype(int)

# split into features and target
X = df.iloc[:, :-24]  # features are all columns except the last 24
y = df.iloc[:, -24:]  # target is the last 24 columns

# split into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
X

       zone_id  year  month  day
0            1  2004      1    1
1            1  2004      1    2
2            1  2004      1    3
3            1  2004      1    4
4            1  2004      1    5
...        ...   ...    ...  ...
32987       20  2008      6   25
32988       20  2008      6   26
32989       20  2008      6   27
32990       20  2008      6   28
32991       20  2008      6   29

[31720 rows x 4 columns]

In [ ]:
y

,h1,h2,h3,h4,h5,h6,h7,h8,h9,h10,...,h15,h16,h17,h18,h19,h20,h21,h22,h23,h24
0,16853,16450,16517,16873,17064,17727,18574,19355,19534,18611,...,13518,13138,14130,16809,18150,18235,17925,16904,16162,14750
1,14155,14038,14019,14489,14920,16072,17800,19089,19577,20047,...,16127,15448,15839,17727,18895,18650,18443,17580,16467,15258
2,14439,14272,14109,14081,14775,15491,16536,18197,19109,18012,...,13507,13414,13826,15825,16996,16394,15406,14278,13315,12424
3,11273,10415,9943,9859,9881,10248,11016,12780,15108,15680,...,14207,13614,14162,16237,17430,17218,16633,15238,13580,11727
4,10750,10321,10107,10065,10419,12101,14847,15259,14045,14009,...,13845,14350,15501,17307,18786,19089,19192,18416,17006,16018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32987,73065,67894,64837,64404,65531,71468,79852,86082,88122,92356,...,102004,107299,112515,116978,127149,122255,116526,114659,102275,88129
32988,78902,73387,69721,68336,69365,76007,84527,91145,95195,99966,...,118403,123263,127387,132327,141619,136113,130257,128428,114889,100105
32989,89064,81762,77893,75500,75549,80140,87649,96263,102700,109845,...,111177,116193,122072,124814,131446,125277,118750,117213,107443,94293
32990,84385,78279,74501,72190,72121,73491,77042,86519,97277,106064,...,125199,119400,123975,130909,119595,111219,106798,104711,97878,87845
32991,79208,73644,70444,68279,67600,69436,72549,81426,92868,102411,...,105023,98844,104201,115496,113376,110741,107334,106312,97012,85409

In [ ]:
from sklearn.ensemble import RandomForestRegressor

# create model
rf_model = RandomForestRegressor(n_estimators=100, random_state=42)

# train model
rf_model.fit(X_train, y_train)
# rf_model.fit(X, y)
print(y_train)
# make predictions
y_pred = rf_model.predict(X_test)

           h1      h2      h3      h4      h5      h6      h7      h8      h9  \
27915   36729   37306   38278   39171   40048   41879   44223   46384   46600
29417  135675  123016  116535  112847  112783  119080  131799  147643  167859
21281   33959   34081   34275   34964   36116   38369   42522   43756   42119
22477   18943   18448   19031   20011   22431   26139   29681   25177   22643
19145   75268   70392   68023   68020   70364   80926  104853  106693   99040
...       ...     ...     ...     ...     ...     ...     ...     ...     ...
31010   76518   67889   63146   59776   58596   63415   71412   75066   80698
5603      342     334     320     301     311     352     414     515     507
902     15696   14080   13078   12367   11856   12621   13231   14319   15529
16427   53463   50554   48861   47893   48193   51227   53164   57759   62105
24606   74546   73958   73815   74536   76807   82847   93698   94998   87920

          h10  ...     h15     h16     h17     h18     h19     h20     h21  \
27915   44635  ...   33732   34752   36308   38408   41639   42270   42021
29417  175805  ...  185842  192536  199501  201075  196988  204898  199428
21281   40574  ...   27905   27384   28635   28122   30755   31377   34624
22477   20435  ...   19187   19671   21497   24108   23491   25003   24935
19145   97590  ...   97886  100209  104768  107052  109804  117912  117633
...       ...  ...     ...     ...     ...     ...     ...     ...     ...
31010   89442  ...  125776  126868  130342  135484  146818  138319  132275
5603      499  ...     467     461     478     487     516     563     549
902     17519  ...   27804   29193   30194   31204   31212   30341   28416
16427   64200  ...   68424   70162   71479   71945   69794   68401   70375
24606   77997  ...   50785   49763   51169   53451   52786   64811   65756

          h22     h23     h24
27915   40913   38300   36463
29417  182996  163859  143514
21281   33229   31477   30248
22477   28010   26236   24079
19145  110574  102294   90977
...       ...     ...     ...
31010  125448  110462   96811
5603      510     461     398
902     26960   23186   19109
16427   67176   61426   55738
24606   64926   62799   59001

[25376 rows x 24 columns]

In [ ]:
from sklearn.metrics import mean_absolute_error

# calculate MAE
mae = mean_absolute_error(y_test, y_pred)

print("Mean Absolute Error:", mae)

Mean Absolute Error: 6972.294033864025

In [ ]:
y_test

,h1,h2,h3,h4,h5,h6,h7,h8,h9,h10,...,h15,h16,h17,h18,h19,h20,h21,h22,h23,h24
24757,42664,43487,44502,45659,46495,47172,52115,51882,47970,45531,...,32402,33746,36210,40694,42898,42711,41600,39842,38245,35656
25579,26041,25166,24956,25389,26254,27695,30330,34632,36932,36523,...,24857,23104,22442,22573,23607,25823,29413,29883,27833,25228
14413,81165,81165,80325,77322,73521,64617,64827,65037,64953,64974,...,78519,74424,78057,78015,78372,78225,78267,72051,64785,65310
31527,65712,61074,57787,56332,56098,56946,60823,67442,74132,79304,...,88055,89680,92096,93029,90385,84518,79476,79440,77389,68334
4890,137863,130353,128189,129331,131503,140163,160632,173072,174158,175865,...,170502,168552,167566,167567,168116,168208,170492,166459,156028,140543
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32700,73166,69441,66693,65774,67112,74163,86554,90508,88455,90637,...,90209,92859,97115,110011,108197,104506,106296,98652,86139,74836
19443,133332,118048,110777,104714,104325,111032,124202,138616,155080,176968,...,257607,269503,279403,283723,275542,255975,239572,227479,199365,169572
1346,18149,16383,14902,13989,13643,13611,14429,15443,17604,19853,...,33595,34839,35512,35414,33391,30862,29349,25873,22631,19602
32849,99203,98115,97392,97786,100122,107788,123236,117438,117487,108625,...,84828,84567,87159,84356,94265,105135,105036,104475,100555,95978
31367,84140,82072,80874,79973,80707,79063,82463,89229,96696,98635,...,87008,87094,90069,97474,102523,102963,101443,98302,96149,89948

In [ ]:
y_pred

array([[ 37923.86,  38064.02,  38601.9 , ...,  44435.81,  43767.15,
         41677.12],
       [ 19144.82,  18019.91,  17878.26, ...,  29106.37,  27141.2 ,
         24719.29],
       [ 74920.02,  75775.56,  76043.94, ...,  77244.93,  78517.53,
         80630.55],
       ...,
       [ 17269.41,  15718.01,  14658.6 , ...,  25945.38,  22773.63,
         19872.93],
       [ 77288.  ,  75731.6 ,  75767.61, ..., 108883.3 , 101187.95,
         94823.12],
       [100107.35,  99441.89,  99879.78, ..., 106946.99, 105520.15,
         99409.14]])

In [ ]:
# read new csv file
new_df = pd.read_csv('Benchmark.csv')

# split into features and target
X_new = new_df.iloc[:, 1:-24]  # features are all columns except the last 24
y_new = new_df.iloc[:, -24:]  # target is the last 24 columns

# make predictions
y_pred_new = rf_model.predict(X_new)

In [ ]:
from sklearn.metrics import mean_absolute_error

# calculate MAE
mae = mean_absolute_error(y_new, y_pred_new)

print("Mean Absolute Error:", mae)

Mean Absolute Error: 88385.36602072309

In [ ]:
#for month

df['sum'] =0
# replace commas with empty strings and convert to integer
for i in range(1,25):
    var = 'h' + str(i)
    df['sum'] = df['sum'] + df[var]

df_month = pd.DataFrame(columns= ['zone_id','year','month'])

for i in range(1,31):
    var = 'd' + str(i)
    df_month[var] = 0

x = 0
for z in range(1):
  for i in range(2004,2009):
    for j in range(1,13):
      df_month.at[x,'zone_id'] = z
      df_month.at[x,'year'] = i
      df_month.at[x,'month'] = j
      x += 1

print(df_month.head())

for y in range(len(df_month.index)):
  for x in range(len(df.index)-1):
    for z in range(1,21):
      for i in range(2004,2009):
        for j in range(1,13):
          for k in range(1,32):
            var = 'd' + str(k)
            if(df_month.at[x,'month'] == j and df_month.at[x,'year'] == i and df_month.at[x,'zone_id'] == z):
              df_month.at[y,var] = df[(df['year'] == i) & (df['zone_id'] == z) & (df['month'] ==j ) & (df['day'] == k)]
print(df_month.head())


# split into features and target
x_month = df_month.iloc[:,:4]  # features are all columns except the last 25
y_month = df_month.iloc[:,-31:]  # target is sum of the last 24 columns

#split into training and testing sets
#X_train_month, X_test_month, y_train_month, y_test_month = train_test_split(x_month, y_month, test_size=0.2, random_state=42)
df_month.to_csv("month.csv")

  zone_id  year month  d1  d2  d3  d4  d5  d6  d7  ...  d21  d22  d23  d24  \
0       0  2004     1 NaN NaN NaN NaN NaN NaN NaN  ...  NaN  NaN  NaN  NaN
1       0  2004     2 NaN NaN NaN NaN NaN NaN NaN  ...  NaN  NaN  NaN  NaN
2       0  2004     3 NaN NaN NaN NaN NaN NaN NaN  ...  NaN  NaN  NaN  NaN
3       0  2004     4 NaN NaN NaN NaN NaN NaN NaN  ...  NaN  NaN  NaN  NaN
4       0  2004     5 NaN NaN NaN NaN NaN NaN NaN  ...  NaN  NaN  NaN  NaN

   d25  d26  d27  d28  d29  d30
0  NaN  NaN  NaN  NaN  NaN  NaN
1  NaN  NaN  NaN  NaN  NaN  NaN
2  NaN  NaN  NaN  NaN  NaN  NaN
3  NaN  NaN  NaN  NaN  NaN  NaN
4  NaN  NaN  NaN  NaN  NaN  NaN

[5 rows x 33 columns]

KeyError: ignored

In [ ]:
from sklearn.ensemble import RandomForestRegressor

# create model
rf_model = RandomForestRegressor(n_estimators=100, random_state=42)

# train model
rf_model.fit(X_train_month, y_train_month.values.ravel())
# rf_model.fit(X, y)

# make predictions
y_pred_month = rf_model.predict(X_test_month)
print(y_pred_month)

[0. 0. 0. ... 0. 0. 0.]